@page "/Resume"

<h1 class="title is-3 has-text-centered mb-4">Resume</h1>
<iframe src="https://docs.google.com/gview?url=https://www.joshuatrono.com/images/Resume.docx&embedded=true" width="100%" height="100%">
    Your browser does not support iframes.
</iframe>

@code {

    

}