/* /Views/Home/Index.cshtml.rz.scp.css */

/* Main layout stuff not nav */
/*Image Style*/
.image-section img[b-wgwh4dpisv] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    margin-bottom: 1em;
}


/* Container styling */
.container[b-wgwh4dpisv] {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.title[b-wgwh4dpisv] {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

/* Table styling */
.table[b-wgwh4dpisv] {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

/* Table headers */
.table th[b-wgwh4dpisv] {
    background-color: #05287f;
    color: white;
    text-align: left;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Table rows */
.table td[b-wgwh4dpisv] {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    color: #555;
}

/* Hover effect for table rows */
.table tr:hover[b-wgwh4dpisv] {
    background-color: #f1f1f1;
}

/* Make the last row border-bottom disappear */
.table tbody tr:last-child td[b-wgwh4dpisv] {
    border-bottom: none;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .container[b-wgwh4dpisv] {
        padding: 15px;
    }

    .title[b-wgwh4dpisv] {
        font-size: 1.75rem;
    }

    .table th[b-wgwh4dpisv], .table td[b-wgwh4dpisv] {
        padding: 10px;
        font-size: 0.9rem;
    }
}

@media (min-width:768px) {
    .image-section img[b-wgwh4dpisv] {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        margin-bottom: 1em;

    }
}



/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-efo2m0xnkv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-efo2m0xnkv] {
  color: #0077cc;
}

.btn-primary[b-efo2m0xnkv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-efo2m0xnkv], .nav-pills .show > .nav-link[b-efo2m0xnkv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-efo2m0xnkv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-efo2m0xnkv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-efo2m0xnkv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-efo2m0xnkv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-efo2m0xnkv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
