@* NavMenu.razor *@

<div class="top-nav">
    <button @onclick="ToggleMenu" class="menu-button">☰</button>
    <ul class="nav-menu @(IsMenuOpen ? "open" : "")">
        <button @onclick="ToggleMenu" class="menu-button">☰</button>

        <li class="nav-item">

            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ButtonPressed">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="hobbies" @onclick="ButtonPressed">
                Hobbies
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Years-Plan" @onclick="ButtonPressed">
                5 Year Plan
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Resume" @onclick="ButtonPressed">
                Resume
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool IsMenuOpen = false;

    private void ButtonPressed()
    {
        if (IsMenuOpen)
            IsMenuOpen = !IsMenuOpen;
    }
    
    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }
}
