@* NavMenu.razor *@


    <ul>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="hobbies">
                Hobbies
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Years-Plan">
                5 Year Plan
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Resume">
                Resume
            </NavLink>
        </li>
    </ul>


