@* NavMenu.razor *@

<nav class="top-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hobbies">Hobby</a></li>
        <li><a href="/Years-Plan">5 Year Plan</a></li>
    </ul>
</nav>
