@page "/Hobbies"
<div class="container">
    <h1 className="title">My Hobbies</h1>
    <p>
        I have some hobbies which include Video-games and learning about technology.
    </p>
    <p >
        I previously used Java but started working with C# and VB.Net since February, 2024. 
        This Website itself is built using replacing my previous website using React.
    </p>
    <p>
        For Video games, It's typically the co-op games 
    </p>
</div>
@code {
    
}