@page "/Years-Plan"

    <div class="container">
        <h1 class="title is-3 has-text-centered mb-4">5 Year Plan</h1>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Year</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var plan in Plans)
            {
                <tr>
                    <td>@plan.Year</td>
                    <td>@plan.Description</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

@code {
    public class Plan
    {
        public string Year { get; set; }
        public string Description { get; set; }

        public Plan(string year, string description)
        {
            Year = year;
            Description = description;
        }
    }

    // List of plans
    private List<Plan> Plans = new List<Plan>
    {
        new Plan("2025", "Continue my Education in Computer Science related fields"),
        new Plan("2026", "Travel around"),
        new Plan("2028", "Finish Master degree or second Bachelors degree")
    };
}