name: Deploy to GitHub Pages

# Trigger the workflow on push to the master branch
on:
  push:
    branches: [ master ]

jobs:
  deploy-to-github-pages:
    # Use ubuntu-latest as the environment for steps
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository code
    - uses: actions/checkout@v2

    # Set up the .NET Core SDK (Ensure the correct version is used here)
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.x.x # Adjust if you are using .NET 10 or another version

    # Install the WASM build tools for Blazor
    - name: Install .NET WASM Build Tools
      run: dotnet workload install wasm-tools

    # Publish the Blazor app
    - name: Publish Blazor App
      run: dotnet publish BlazorWebsite.csproj -c Release -o dist/Web --nologo

    # Check if the files are published correctly
    - name: Check published files
      run: ls dist/Web

    # Modify the base href in the index.html for GitHub Pages
    #- name: Update base tag in index.html
   #   run: sed -i 's|<base href="/" />|<base href="/joshuatrono/" />|g' dist/Web/wwwroot/index.html

    # Add a .nojekyll file to bypass Jekyll processing on GitHub Pages
    - name: Add .nojekyll file
      run: touch dist/Web/wwwroot/.nojekyll

    # Deploy the published Blazor app to GitHub Pages
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: dist/Web/wwwroot
